.feature {
    padding: 45px 0px;
}

.feature-header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

.our-feature {
    font-size: 28px;
    font-weight: 700;
}

h1 {
    font-weight: 500;
    font-size: 20px;
}

.feature-one {
    float: left;
    width: 300px;
}

.cus-heading {
    display: flex;
    margin: 5px 0px;
}

.icon {
    width: 10px;
    padding: 4px 31px 6px 0px;
    color: #08C;
    font-size: 23px;
}

.customer-support {
    margin-bottom: 30px;
}

.customer-support h2 {
    font-size: 16.8px;
    font-weight: 700;
}

.customer-support p {
    margin-top: 7px;
    width: 100%;
    display: block;
    font-size: 14px;
}

.feature-two {
    float: left;
    width: 300px;
    margin: 0px 31px;
}